.post {
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 500px;
    background-color: white;
    margin: 60px;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.imagen {
    width: 100%;
    height: auto;
}

.encabezado {
    font-size: 25px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.body {
    padding: 30px;
}

.extras {
    font-size: 25px;
    padding: 10px;
    display: flex;
   justify-content: space-between;

}

.extras1 {
    display: flex;
    flex-direction: row;
}

.primero{
    padding: 5px;
}

.segundo {
    padding: 5px;
}

.tercero {
    padding: 5px;
}